.nav {
    /* background-color: #282c34; */
  min-height: 10%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a3a3a3;
  text-transform: uppercase;
  animation: nav 4s infinite;
}

.nav:hover {
    color: #282c34;
  min-height: 10%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-color: red; */
  text-transform: uppercase;
  animation: nav 4s infinite;
}

@keyframes nav {
    0% {
        background-color: #282c34;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #282c34;
    }
}

.happy-nav {
    background-color: skyblue;
    min-height: 10%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-transform: uppercase;
}